# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Test with mocha': 'mocha:test'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'mocha'
      'submenu': [
        { 'label': 'Run Test Suite', 'command': 'mocha:test' }
      ]
    ]
  }
]
